.cardBody{
    margin-left: 16rem;
    margin-top: 6rem;
}

.pageHeading{
    text-align: center;
    margin-top: 12rem;
    font-size: xx-large;
}

/* .coloredCard{
    background-color: aqua;
    border: 1px black solid;
} */