/* .card{
    box-shadow: 1rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
    padding: 2rem;
    width: 50rem;
    
} */

.card{
    text-align: center;
    border: none;
    /* width: 50rem; */
}

.cardColour{
    box-shadow: 1rem;
    border-radius: 3rem;
    background-color: rgb(197, 247, 247);
    text-align: center;
    font-weight: normal;
    padding: 2rem;
    width: 50rem;
}

.cardHeading{
    font-size: x-large;
    width: 50rem;

}

.cardData{
    font-size: medium;
    width: 50rem;
}